.welcome-card {
    max-height: 35vh;
    overflow: hidden;
    height: 100px;
  }

ion-content {
  // --overflow: hidden;
  // max-height: max-content;
  // --ion-background-color: lightblue!important;
  
}

ion-grid {
  padding: 20px 20px 20px 20px;
}

ion-card {
  padding: 20px 20px 20px 20px;
  margin: 0!important;
  width: 100%;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  
}

ion-item:hover {
  --ion-background-color: lightgrey;
}


.delete-btn {
  --box-shadow:none;
  // bottom: 147px;
  // left: 175px;
}

.delete-icon-btn {
  font-size: 20px;
  color: black;
}

.dd-icons {
  font-size: 20px;
  color: gray;

}

.horizontal-list {
  float: left!important;
}

div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}

.vertical-responsive {
  left: 50%;
  top: 50%;
  bottom: auto;
  right:  auto;
  transform: translate(-50%, -50%) scale(0.523857); 
}

.stat-card {
  font-size: 50px;
  font-style: normal;
  color: black;
}

.welcome-banner {
  --ion-background-color:#864cbf!important;
}

.welcome-banner-content {
  font-size: 35px;
  color: white;
  font-style: comic;
}

.card-size-small{

}

.card-size-med {
  font-size: 150px;
  color: black;
}

.card-size-big {
  font-size: 250px;
  color: black;
}

.preset-menu {
  --ion-background-color: blue;
}

.text-no-wrap {
  white-space: nowrap;
}


.addBtn {
  position: absolute;
  left: 85%;
  font-size: 30px;
}

.addBigBtn {
  position: absolute;
  left: 70%;
  top: 90%; 
}

.container {
  background: #ccc;
  text-align: center;
  height: 50%;
  padding: 5px;
  position: relative;
}

.matrix {
  margin-top: 30px;

  ion-col {
      --ion-grid-column-padding: 0px;
      min-height: 150px;
  }

  .list {
      padding: 0px;
      height: 100%;
  }

  ion-item {
      margin-bottom: 15px;
  }
}

.q-header {
  height: 30px;
  text-align: center;
  border-style: dashed;
  border-color: rgb(214, 214, 214);
  border-width: 1.5px;
  margin: 14px;
}

.delete-area {
  border: 2px dashed var(--ion-color-medium);
  margin: 10px;
  height: 100px;
  ion-icon {
     font-size: 64px;
  }

  #sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  
  #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }


// Scale javascript
  .very-specific-design {
    width: 600px;
    height: 400px;
    padding: 50px;
    text-align: center;
    background: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  .scaleable-wrapper {
    padding: 20px;
    resize: both;
    position: relative;
    background: #666;
    height: 400px;
  }
  
  .ui-resizable-se {
    width: 10px;
    height: 10px;
    background: orange;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
