.welcome-card {
    max-height: 35vh;
    overflow: hidden;
    height: 100px;
  }

ion-content {
  // --overflow: hidden;
  // max-height: max-content;
  // --ion-background-color:#091935!important;
  --ion-background-color: lightgrey;
}

ion-grid {
  padding: 5px 5px 5px 5px;
}

// ion-header {
//   padding: 0;
//   margin: 0;
// }

.width-height-responsive {
  width: 100vw;
  height: 100vh;
}

ion-card {
  // padding: 15px;
  // margin: 0!important;
  // width: 100%;
  // align-items: center;
  // text-align: center;
  // white-space: nowrap;
  // display: flex;
  // // flex-direction: row;
  // flex-direction: column;
  // font-size: 15vmax!important;
}

ion-list {
  height:100%;
}

.white-font {
  color: white;
}

.welcome-toolbar{
  background-color: #0E4193;
  color: white;
}

.dashboard-title {
  text-align: center;
  font-size: 3.5vw;
  // padding: 5px 5px 2px 5px;
  margin: 0;
}

.row-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  width: 98.3vw;
}

.height-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 80vh;
  border: solid 6px purple;
}

.handle {
  padding: 0 5px;
  margin: 8px;
  background-color: black;
  color: white;
  cursor: grab;
  text-align: left;
  font-size: 2vmax;
}

ion-item:hover {
  --ion-background-color: lightgrey;
}


.delete-btn {
  --box-shadow:none;
  // bottom: 147px;
  // left: 175px;
}

.delete-icon-btn {
  font-size: 3vmax;
  color: black;
}

.dd-icons {
  font-size: 20px;
  color: gray;

}

.horizontal-list {
  float: left!important;
}

div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}

.vertical-responsive {
  left: 50%;
  top: 50%;
  bottom: auto;
  right:  auto;
  transform: translate(-50%, -50%) scale(0.523857); 
}

.stat-card {
  color: black;
  padding: 3px 15px 10px 15px;
  margin: 0;
  width: 100%;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  // font-size: 15vmax!important;
  border: solid 4px black;
}

.card-content {
  // color: #03F6FF!important;
}

.card-value {
  color: black;
  // color: #03F6FF;
  font-weight: bold;
  font-size: 4vw;
  padding: 0!important;
  margin: 0!important;
}

.card-title {
  font-size: 2vmax;
  font-family: Montserrat;
  font-weight: bold;
  // color: white!important;
  // color: white!important;
  padding: 0!important;
  margin: 0!important;
}

.card-icon {
  font-size: 6vmax;
  color: black;
  // color: #03F6FF!important;
  padding: 0!important;
  margin: 0!important;
}

.welcome-banner {
  --ion-background-color:#0E4193!important;
}

.welcome-banner-content {
  font-size: 5vw;
  color: white;
  font-style: comic;
}

.card-size-small{

}

.card-size-med {
  font-size: 150px;
  color: black;
}

.card-size-big {
  font-size: 250px;
  color: black;
}

.preset-menu {
  --ion-background-color: blue;
}

.text-no-wrap {
  white-space: nowrap;
}


// .addBtn {
//   position: absolute;
//   top: 20%;
//   font-size: 30px;
// }

.addBigBtn {
  position: absolute;
  left: 70%;
  top: 90%; 
}

.container {
  background: #ccc;
  text-align: center;
  height: 50%;
  padding: 5px;
  position: relative;
}

.matrix {
  // margin-top: 30px;

  ion-col {
      --ion-grid-column-padding: 0px;
      min-height: 150px;
  }

  .list {
      padding: 0px;
      height: 100%;
  }

  ion-item {
      margin: 0;
      padding: 0;
      --ion-background-color: transparent;
  }
}

.q-header {
  height: 30px;
  text-align: center;
  border-style: dashed;
  border-color: rgb(214, 214, 214);
  border-width: 1.5px;
  margin: 14px;
}


  #sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  
  #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }


// Scale javascript
  .very-specific-design {
    width: 600px;
    height: 400px;
    padding: 50px;
    text-align: center;
    background: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  .scaleable-wrapper {
    padding: 20px;
    resize: both;
    position: relative;
    background: #666;
    height: 400px;
  }
  
  .ui-resizable-se {
    width: 10px;
    height: 10px;
    background: orange;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  div[scrollx=true],div[scrolly=true] {
    position: relative;
    overflow: hidden;
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }
  
  div[scrolly=true] {
    overflow-y: auto;
  }

  .ion-card-partners {
    display: block!important;
  }
  
  .project-title {
    
    font-size: 3vmax!important;
    font-family: humanst;
    padding-bottom: 10px;
  }

  .awards-chart {
    // height: 20vw;

  }

  .partners-content {
    // height: 15vh;
    // border: solid 5px black;
  }

  .partners-card {
    color: black;
    padding: 3px;
    margin: 0!important;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    border: solid 4px black;
    // background-color: white;
  }
