<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons>
        <ion-button slot="end" (click)="presentPopover($event)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">

    <!-- <ion-grid>
  <ion-row class="matrix">
    <ion-col *ngFor="let item of cardItems" col-12 col-md-4 col-lg-4 col-xl-4>

      <div dragula="bag" [(dragulaModel)]="cardItems" lines="none">
        <ion-card class="stat-card">
          <ion-card-header>
              <ion-buttons>
                  <ion-button>
                      <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
            <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>             
          </ion-card-header>
          <ion-card-content class="text-no-wrap stat-card">
            <ion-textarea value="{{ item.text }}"></ion-textarea>
          </ion-card-content>
        </ion-card>
      </div>
        

    </ion-col>
  </ion-row>

  <ion-row class="matrix">
    <ion-col *ngFor="let item of bigCards" col-12 col-md-5 col-lg-4 col-xl-2>

      <ion-list dragula="bag" [(dragulaModel)]="bigCards">
        <ion-card class="bigCard">
          <ion-card-header>
              <ion-buttons>
                  <ion-button>
                      <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
            <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Insert chart here
          </ion-card-content>
        </ion-card>
      </ion-list>
        
    </ion-col>
  </ion-row>
  
</ion-grid> -->

<!-- ................................................................................................................................ -->
<!-- Drag and Drop TEST -->
<!-- <ion-grid>

    <ion-row no-padding class="matrix">
  
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="q-header">Cards</div>
        <ion-list dragula="bag" [(dragulaModel)]="cardItems">
          <ion-item *ngFor="let item of cardItems" expand="block">
            <ion-card>
              <ion-card-header>
                  <ion-buttons>
                      <ion-button>
                          <ion-icon name="close"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>             
              </ion-card-header>
              <ion-card-content class="text-no-wrap stat-card">
                <ion-textarea value="{{ item.text }}"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-item>       
        </ion-list>
      </ion-col>
   
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="q-header">Charts</div>
        <ion-list dragula="bag" [(dragulaModel)]="bigCards">
          <ion-item *ngFor="let item of bigCards" expand="block" text-wrap>
              <ion-card>
                  <ion-card-header>
                      <ion-buttons>
                          <ion-button>
                              <ion-icon name="close"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                    <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="text-no-wrap">
                      <ion-textarea value="{{ item.text }}"></ion-textarea>
                  </ion-card-content>
                </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
      
    </ion-row>
  
  </ion-grid> -->
  <ion-grid>
    <ion-split-pane>
        <ion-list *ngFor="let p of presetList">          
            <ion-row>
                <ion-col>
                  <ion-item (click)="loadSelectedPreset(p.presetBoxList)">
                      {{ p.presetName }}
                  </ion-item>
                </ion-col>
            </ion-row>            
          </ion-list>
    </ion-split-pane>

    <ion-row no-padding class="matrix">
      <ion-col *ngFor="let b of boxList" size="4" class="q1">
        <!-- <div class="q-header">   
            <ion-button sort="end" (click)="deleteItem(b)"><ion-icon name="trash"></ion-icon></ion-button>
        </div> -->
        <!-- <p>{{ lists.indexOf(q) }}</p> -->
        <ion-list dragula="bag" [(dragulaModel)]="b.cardList" lines="none">
          <ion-item *ngFor="let card of b.cardList" text-wrap>
            <ion-card class="card-size-small" [color]="card.color">
                <!-- <ion-button [color]="card.color" class="delete-btn" sort="end" (click)="deleteItem(b)"><ion-icon name="trash"></ion-icon></ion-button> -->       
                <ion-card-subtitle>
                    <ion-icon class="delete-icon-btn" (click)="deleteItem(b)" name="trash"></ion-icon>
                </ion-card-subtitle>
              <ion-card-header>
                <ion-card-title>{{ card.title }}</ion-card-title>
                
              </ion-card-header>
              <ion-card-content class="stat-card">
                {{ card.value }}
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
    <ion-row align-items-center>
      <ion-col size="12">
        <ion-row>
          <ion-col size="3">
              <ion-item>
                  <ion-label position="fixed">Card title:</ion-label>
                  <ion-input placeholder="Title" [(ngModel)]="newCard.title"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="3">
              <ion-item>
                  <ion-label position="fixed">Card value:</ion-label>
                  <ion-input placeholder="Value" [(ngModel)]="newCard.value"></ion-input>
              </ion-item>
          </ion-col>

          <ion-col size="3">
              <ion-item>
                  <ion-label>Color</ion-label>
                  <ion-select [(ngModel)]="cardColor">
                    <ion-select-option value="q1">Blue</ion-select-option>
                    <ion-select-option value="q2">Yellow</ion-select-option>
                    <ion-select-option value="q3">Red</ion-select-option>
                    <ion-select-option value="q4">Black</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>

          <ion-col size="3">
              <ion-item>
                  <ion-label>Size</ion-label>
                  <ion-select [(ngModel)]="cardSize">
                    <ion-select-option value="small">Small</ion-select-option>
                    <ion-select-option value="medium">Medium</ion-select-option>
                    <ion-select-option value="large">Large</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>

          <ion-col size="12">
              <ion-button expand="block" fill="outline" (click)="addTodo()">
                  <ion-icon name="add" slot="start"></ion-icon>
                  Add Card
              </ion-button>
          </ion-col>
                
        </ion-row>
        
        
          


        <ion-item>
          <ion-label position="fixed">Preset Name:</ion-label>
          <ion-input placeholder="Enter preset name here..." [(ngModel)]="newPreset.presetName"></ion-input>
        </ion-item>
        
        <ion-button expand="block" fill="outline" (click)="savePreset(boxList)">Save Preset</ion-button>
    
        <ion-button expand="block" fill="outline" (click)="clearBoxes()">Clear Board</ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>
  
  <!-- <ion-row class="delete-area" align-items-center justify-content-center>
    <ion-icon name="trash" color="medium"></ion-icon>
  </ion-row> -->

  
</ion-content>
