<ion-header>
  <ion-toolbar>
    <ion-title class="welcome-toolbar">
      <ion-buttons>
        <ion-button [hidden]="enterViewMode" *appHasRole="['edit-dashboard', 'admin']" slot="end" (click)="presentOptions()">
          <ion-icon name="add"></ion-icon>       
        </ion-button>

        <ion-button [hidden]="exitViewMode" slot="end" (click)="exitView()">
          <ion-icon name="close"></ion-icon>
        </ion-button>

      </ion-buttons>
      <h1 class="dashboard-title">CITI DASHBOARD 2.0</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false" [color]="primary">
    
    
      

    <!-- <ion-grid>
  <ion-row class="matrix">
    <ion-col *ngFor="let item of cardItems" col-12 col-md-4 col-lg-4 col-xl-4>

      <div dragula="bag" [(dragulaModel)]="cardItems" lines="none">
        <ion-card class="stat-card">
          <ion-card-header>
              <ion-buttons>
                  <ion-button>
                      <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
            <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>             
          </ion-card-header>
          <ion-card-content class="text-no-wrap stat-card">
            <ion-textarea value="{{ item.text }}"></ion-textarea>
          </ion-card-content>
        </ion-card>
      </div>
        

    </ion-col>
  </ion-row>

  <ion-row class="matrix">
    <ion-col *ngFor="let item of bigCards" col-12 col-md-5 col-lg-4 col-xl-2>

      <ion-list dragula="bag" [(dragulaModel)]="bigCards">
        <ion-card class="bigCard">
          <ion-card-header>
              <ion-buttons>
                  <ion-button>
                      <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
            <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Insert chart here
          </ion-card-content>
        </ion-card>
      </ion-list>
        
    </ion-col>
  </ion-row>
  
</ion-grid> -->

<!-- ................................................................................................................................ -->
<!-- Drag and Drop TEST -->
<!-- <ion-grid>

    <ion-row no-padding class="matrix">
  
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="q-header">Cards</div>
        <ion-list dragula="bag" [(dragulaModel)]="cardItems">
          <ion-item *ngFor="let item of cardItems" expand="block">
            <ion-card>
              <ion-card-header>
                  <ion-buttons>
                      <ion-button>
                          <ion-icon name="close"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>             
              </ion-card-header>
              <ion-card-content class="text-no-wrap stat-card">
                <ion-textarea value="{{ item.text }}"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-item>       
        </ion-list>
      </ion-col>
   
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="q-header">Charts</div>
        <ion-list dragula="bag" [(dragulaModel)]="bigCards">
          <ion-item *ngFor="let item of bigCards" expand="block" text-wrap>
              <ion-card>
                  <ion-card-header>
                      <ion-buttons>
                          <ion-button>
                              <ion-icon name="close"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                    <ion-card-title class="text-no-wrap">{{ item.title }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="text-no-wrap">
                      <ion-textarea value="{{ item.text }}"></ion-textarea>
                  </ion-card-content>
                </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
      
    </ion-row>
  
  </ion-grid> -->
  <ion-grid>
    <ion-split-pane [hidden]="enterViewMode">
        <ion-list *ngFor="let p of presetList">          
            <ion-row>
                <ion-col>
                  <ion-item (click)="loadSelectedPreset(p.presetBoxList)" *appHasRole="['edit-dashboard', 'admin']">
                      {{ p.presetName }}
                  </ion-item>
                </ion-col>
            </ion-row>            
          </ion-list>
    </ion-split-pane>


    <ion-row class="matrix" *appHasRole="['dashboard-content']">
        <ion-row *appHasRole="['edit-dashboard', 'admin']" [hidden]="enterViewMode">
            <ion-button (click)="changeTheme('default')">Default</ion-button>
            <ion-button (click)="changeTheme('autumn')">Autumn</ion-button>
            <ion-button (click)="changeTheme('night')">Dark</ion-button>
            <ion-button (click)="changeTheme('neon')">Neon</ion-button>
            <ion-button (click)="changeTheme('day')">Day</ion-button>
          </ion-row>

        <ion-col size="12">
            <ion-item class="welcome-banner">
                <ion-card>
                    <ion-card-content class="welcome-banner-content">
                      Welcome to Nanyang Polytechnic!
                    </ion-card-content>
                  </ion-card>
            </ion-item>
        </ion-col>
            
      <ion-row *ngFor="let b of boxList">
<!-- 
              <div class="q-header" [hidden]="enterViewMode" *appHasRole="['edit-dashboard', 'admin']">
                   
                  <ion-button sort="end" (click)="deleteItem(b)"><ion-icon name="trash"></ion-icon></ion-button>
                  <ion-button (click)="addNewCard(b)"><ion-icon name="add"></ion-icon></ion-button>
              </div> -->
              <!-- <p>{{ lists.indexOf(q) }}</p> -->
              <div [hidden]="enterViewMode" *appHasRole="['edit-dashboard', 'admin']">
                  <ion-icon class="dd-icons" (click)="presentCardOptions(b)" name="add"></ion-icon> 
                  <ion-icon class="dd-icons" (click)="deleteItem(b)" name="trash"></ion-icon>
              </div>
               
                  <ion-row class="row-flex" dragula="bag" [(dragulaModel)]="b.cardList">
                    
                
                      <ion-col style="border:solid 3px white;" *ngFor="let card of b.cardList">
                          <ion-item class="ion-text-wrap">
                              <ion-card [color]="card.color">   
                                  <span class="handle" [hidden]="enterViewMode" *appHasRole="['edit-dashboard', 'admin']">
                                      +
                                  </span>  
                                  <ion-card-subtitle *appHasRole="['edit-dashboard', 'admin']">
                                      <ion-icon [hidden]="enterViewMode" class="delete-icon-btn" (click)="deleteCard(b, card)" name="trash"></ion-icon>
                                      <ion-icon [hidden]="enterViewMode" class="delete-icon-btn" (click)="updateSumData(b, card)" name="refresh-circle"></ion-icon>
                                  </ion-card-subtitle>
                                <ion-card-header>
                                  
                                </ion-card-header>
                                <ion-card-content class="stat-card">
                                <ion-icon class="card-icon" [name]="card.icon"></ion-icon>
                                <p class="card-content">{{ card.value }}</p>
                                </ion-card-content>
                                <ion-card-title class="card-title" (click)="presentPopover(card)">{{ card.title }}</ion-card-title>
      
                                <!-- <ion-list>
                                  <ion-item *ngFor="let v of visitDetails">
                                    {{v.companyName}}
                                  </ion-item>
                                </ion-list> -->
                              </ion-card>                           
                          </ion-item>
                      </ion-col>  
                  </ion-row>     
      </ion-row>

    </ion-row>

    <ion-row [hidden]="enterViewMode" align-items-center>
      <ion-col size="12">
        <ion-row *appHasRole="['edit-dashboard', 'admin']"> 
          <!-- <ion-col size="4">
              <ion-item>
                  <ion-label position="fixed">Title:</ion-label>
                  <ion-input placeholder="Title" [(ngModel)]="newCard.title"></ion-input>
              </ion-item>
          </ion-col> -->

          <!-- <ion-col size="6">
              <ion-item>
                  <ion-label>Value</ion-label>
                  <ion-select [(ngModel)]="cardValue">
                    <ion-select-option value="visits">Visits</ion-select-option>
                    <ion-select-option value="awards">Awards</ion-select-option>
                    <ion-select-option value="projects">Projects</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>

          <ion-col size="6">
              <ion-item>
                  <ion-label>Color</ion-label>
                  <ion-select [(ngModel)]="cardColor">
                    <ion-select-option value="q1">Blue</ion-select-option>
                    <ion-select-option value="q2">Yellow</ion-select-option>
                    <ion-select-option value="q3">Red</ion-select-option>
                    <ion-select-option value="q4">Green</ion-select-option>
                    <ion-select-option value="q5">Black</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>      -->

          <!-- <ion-col size="12">
              <ion-item>
                  
                <ion-label position="fixed">Box Name:</ion-label>
                <ion-input placeholder="Box Name" [(ngModel)]="newBox.boxName"></ion-input>
                  
              </ion-item>
          </ion-col> -->
                
        </ion-row>

        <ion-item *appHasRole="['edit-dashboard', 'admin']"> 
          <ion-label position="fixed">Preset Name:</ion-label>
          <ion-input placeholder="Enter preset name here..." [(ngModel)]="newPreset.presetName"></ion-input>
        </ion-item>
        
        <ion-button expand="block" fill="outline" (click)="savePreset(boxList)" *appHasRole="['dashboard-content','edit-dashboard', 'admin']">Save Preset</ion-button>
        <ion-button expand="block" (click)="addAward()" *appHasRole="['dashboard-content','edit-dashboard', 'admin']">Add New Award</ion-button>
    
        <ion-button expand="block" fill="outline" (click)="clearBoxes()" *appHasRole="['edit-dashboard', 'admin']">Clear Board</ion-button>

        <ion-list *ngIf="!authenticated">
          <ion-item class="white-font">
            <ion-label>Username</ion-label>
            <ion-input type="text" [(ngModel)]="user.name"></ion-input>
          </ion-item>

          <ion-item class="white-font">
              <ion-label>Password</ion-label>
            <ion-input type="Password" [(ngModel)]="user.pw"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" (click)="loginAccount()" *ngIf="!authenticated">Login</ion-button>
        <ion-button expand="block" (click)="logout()" *ngIf="authenticated">Logout</ion-button>
        <ion-button [hidden]="enterViewMode" expand="block" (click)="enterView()" *ngIf="authenticated">Preview</ion-button>
        
      </ion-col>

    </ion-row>
  </ion-grid>
  
  <!-- <ion-row class="delete-area" align-items-center justify-content-center>
    <ion-icon name="trash" color="medium"></ion-icon>
  </ion-row> -->

</ion-content>
