<ion-content>
  <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ passedCardTitle }}</ion-title>
      </ion-toolbar>
  </ion-header>


  <ion-list [hidden] = "closeVisits">
      <ion-item *ngFor="let item of visitDetails">
        <ion-label text-wrap>
          <h3 class="project-text">{{ item.name }}</h3>
        </ion-label>
      </ion-item>
  </ion-list>

  
  <ion-list [hidden] = "closeAwards">
      <ion-item *ngFor="let item of awardDetails">
        <ion-label text-wrap>
          <h3 class="project-text">{{ item.awardName }}</h3>
        </ion-label>
      </ion-item>
  </ion-list>


  <ion-list [hidden] = "closeProjects">
      <ion-item *ngFor="let item of projectDetails">
        <ion-label text-wrap>
          <h3 class="project-text">{{ item.projectName }}</h3>
        </ion-label>
      </ion-item>
</ion-list>


<ion-list [hidden] = "closeShortCourses">
  <ion-item *ngFor="let item of shortCoursesDetails">
    <ion-label text-wrap>
      <h3 class="project-text">{{ item.courseName }}</h3>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>
