<ion-content>
  <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ passedCardTitle }}</ion-title>
      </ion-toolbar>
  </ion-header>


  <ion-list style="max-height: 9cm; overflow-y: scroll;" [hidden] = "closeVisits">
      <ion-item *ngFor="let item of visitDetails">
        <ion-label class="ion-text-wrap">
          <h1 class="project-text">{{ item.name }}</h1>
          <p>{{ item.startDate }}</p>
        </ion-label>
      </ion-item>
  </ion-list>

  
  <ion-list style="max-height: 9cm; overflow-y: scroll;" [hidden] = "closeAwards">
      <ion-item *ngFor="let item of awardDetails">
        <ion-label class="ion-text-wrap">
          <h1 class="project-text">{{ item.awardName }}</h1>
        </ion-label>
      </ion-item>
  </ion-list>


  <ion-list style="max-height: 9cm; overflow-y: scroll;" [hidden] = "closeProjects">
      <ion-item *ngFor="let item of projectDetails">
        <ion-label class="ion-text-wrap">
          <h1 class="project-text">{{ item.projectName }}</h1>
        </ion-label>
      </ion-item>
</ion-list>


<ion-list style="max-height: 9cm; overflow-y: scroll;" [hidden] = "closeShortCourses">
  <ion-item *ngFor="let item of shortCoursesDetails">
    <ion-label class="ion-text-wrap">
      <h1 class="project-text">{{ item.courseName }}</h1>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>
